*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 50px;
    font-size: larger;
}
.container-main{
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    padding-bottom: 50px;
    font-size: 78px;
    font-weight: 800;
}
h3{
    padding-bottom: 30px;
    padding-top: 145px;
}
h4{
    padding-bottom: 30px;
    
}
p{
    padding-bottom: 30px;
}
h2{
    padding-top: 100px;
    padding-left: 100px;
    display: inline;
    margin-right: 150px;
    width: 50px;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}
.p-cent{
    text-align: center;
    border-bottom: 1px solid black;
}
/* header */
header{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    
}

header .list{
    display: flex;
}
.row {
    display: flex;
    justify-content: space-between;
    

}

li{
    list-style-type: none;
    padding: 10px;  
}
a{
    text-decoration:  none;
    color: gray;
    display: inline-block;
}
.button{
    height: 30px;
    width: 70px;
    background-color: blue;
}
/* main */
main{
    background-color: #B4D0E7;
    padding-top: 50px;
    height: 800px;
}

.p-int{
    margin-bottom: 100px;
}
.advice{
    margin-top: 100px;
}
.jumbo{
    width:900px;
    height:600px ;
}
/* form */
.col-tab{
    height:700px;
    width: 300px;
    border: 1px solid black;
    margin: 20px;
    
}
.border {
    width: 70px;
    height: 1px;
    background-color: black;
}
.row-tab{
    display: flex;

}
.big-tab{
    height: 200px;
    width: 100%;
    border: 1px solid black;
    margin-top: 20px;  
}
 /* partner */
.patt{
    height: 500px;
    width: 500px;
}
.col{
    margin: 20px;   
}
.task{
    width: 80%;
    height: 140px;
}
/* card */
.row-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-card{
    width: 30%;
}
.card{
    width: 100%;
}
/* partnership */

.block-green{
    height: 200px;
    width: 200px;
    background-color: green;  
}
.block-brown{
    height: 200px;
    width: 200px;
    background-color: brown;  
}
.block-blue{
    height: 200px;
    width: 200px;
    background-color: blue;  
}
.block-red{
    height: 200px;
    width: 200px;
    background-color: red;  
}


.block-grey{
    height: 200px;
    width: 200px;
    background-color: gray;  
}
  

.block-yellow{
    height: 200px;
    width: 200px;
    background-color: yellow;  
}



.col-block{
    display: flex;
   
    flex-wrap: wrap;
    width: 36%;
}
.col-block-cent{
   width: 53%;
}
.des{
   height: 50px;
}

.prov{
    background-color: aquamarine;
    height: 200px;
    width: 100%;
    padding:50px;
    
}